

 <select (change)="onChange($event.target.value)">
  <option value="allProperties">All Properties</option>
  <option value="activeProperties">Active Properties</option>
  <option value="inactiveProperties" selected="selected">Inactive Properties</option>
</select>

<!-- <ol>
  <li *ngFor="let property of properties | async | completeness:filterByCompleteness">{{currentProperty.condo}}
    <input *ngIf="currentProperty.done === true" type="checkbox" checked (click)="toggleDone(currentProperty, false)"/>
    <input *ngIf="currentProperty.done === false" type="checkbox" (click)="toggleDone(currentProperty, true)"/>

  </li>
</ol> -->


<h2>Property</h2>

<div *ngFor="let property of properties | async"  class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(property)"><em>{{property.condo}}</em> </h3>
    <div *ngIf="currentRoute === '/admin'">
      {{property.address}} <br>
      {{property.amenities}} <br>
      {{property.price}}
      <hr>
      <app-edit-property [selectedProperty]="property"></app-edit-property>
    </div>
  </div>
</div>
