
 <select (change)="onChange($event.target.value)">
  <option value="allProperties">All Properties</option>
  <option value="activeProperties">Active Properties</option>
  <option value="inactiveProperties" selected="selected">Inactive Properties</option>
</select>


<div *ngFor="let property of properties | completeness:filterByCompleteness | async"  class="panel panel-default">
  <div class="panel-body">
    <input *ngIf="currentProperty.done === true" type="checkbox" checked (click)="toggleDone(currentProperty, false)"/>
    <input *ngIf="currentProperty.done === false" type="checkbox" (click)="toggleDone(currentProperty, true)"/>
    <h3 (click)="goToDetailPage(property)"><strong>{{property.condo}}</strong><button type="button" class="btn btn-primary">View</button></h3>
    <div *ngIf="currentRoute === '/admin'">
      {{property.address}} <br>
      {{property.amenities}} <br>
      {{property.price}}
      <hr>
      <app-edit-property [selectedProperty]="property"></app-edit-property>
    </div>
  </div>
</div>
