<!--The content below is only a placeholder and can be replaced.-->
<h1>Welcome, {{userName}}!</h1>
<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>
<div style="text-align:center">
  <h1>
    To Do List {{month}}/{{day}}/{{year}}
  </h1>
</div>

<h3>{{currentTask}}</h3>

<app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
<app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>
<app-new-task (sendTask)="addTask($event)"></app-new-task>
<!-- <app-edit-task [selectedTask]="selectedTask"></app-edit-task> -->

 <div *ngIf="selectedTask">
   <h3>{{selectedTask.description}}</h3>
   <p>Task Complete? {{selectedTask.done}}</p>
   <h3>Edit Task</h3>
   <label>Enter Task Description:</label>
   <input [(ngModel)]="selectedTask.description">
   <label>Enter Task Priority (1-3):</label>
   <br>
   <input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority)<br>
   <input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority)<br>
   <input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority)
   <br>
   <br>
   <button class="btn btn-primary"(click)="finishedEditing()">Done</button>
 </div>
