
<html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <!-- <div class="container"> -->

    <header>
      <h1>vjs Airbnb</h1>
    </header>
    <nav>
      <p>
        Date: {{month}}/{{day}}/{{year}}
      </p>
      <h3>Welcome, {{userName}}!</h3>
      <form>
        <input [(ngModel)]="userName" type="text" name="user">
      </form>
      <div style="text-align:center">


      <h3>{{currentTask}}</h3>
      <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
        <header class="w3-container w3-light-grey w3-padding-16">
          <h5>Manage Properties</h5>
            </header>

      <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
      <app-edit-task [childSelectedTask]="selectedTask" (clickedDone)="finishedEditing()"></app-edit-task>


            <app-new-task (sendTask)="addTask($event)"></app-new-task>

    </div>


</div>
    </nav>
    <article>
        <!-- <app-new-task (sendTask)="addTask($event)"></app-new-task> -->
      <div *ngIf="selectedTask">
        <h3>{{selectedTask.description}}</h3>
        <!-- <p>Task Complete? {{selectedTask.done}}</p> -->
        <h3>Edit Task</h3>
        <label>Enter Task Description:</label>
        <input [(ngModel)]="selectedTask.description">
        <label>Enter Task Priority (1-3):</label>
        <br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="1">1 (Low Priority)<br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="2">2 (Medium Priority)<br>
        <input type="radio" [(ngModel)]="selectedTask.priority" [value]="3">3 (High Priority)
        <br>
        <br>
        <button class="btn btn-primary"(click)="finishedEditing()">Done</button>
      </div>
    </article>
    <footer>Copyright &copy; Verna Santos</footer>
  <!-- </div> -->
</body>
</html>
