body{
  background-image: url("https://propertypassbook.com/wp-content/uploads/2017/11/One-Uptown-Residences-6.jpg")
}
div.container {
  width: 100%;
  border: 1px solid silver;
}
header, footer {
  padding: 1em;
  color: white;
  background-color: lightgrey;
  clear: left;
  text-align: center;
}
nav {
  float: left;
  max-width: 600px;
  margin: 0;
  padding: 1em;

}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul a {
  text-decoration: none;
}
article {
  margin-left: 170px;
  border-left: 5px solid lightgray;
  padding: 1em;
  overflow: hidden;
}
