<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-condo">Add New Property to Inventory</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Property Condo:</label>
        <br>
        <input #newCondo>
      </div>

      <div>
        <label>Property Address:</label>
        <br>
        <input #newAddress>
      </div>

      <div>
        <label>Property Amenities:</label>
        <br>
        <textarea #newAmenities></textarea>
</div>

<div>
  <label>Property Price:</label>
  <br>
  <input #newPrice>
</div>

      <button (click)="submitForm(newCondo.value, newAddress.value, newAmenities.value, newPrice.value); newCondo.value=''; newAddress.value=''; newAmenities.value=''; newPrice.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-property-list></app-property-list>
</div>
