.round-button {
    display:block;
    width:200px;
    height:200px;
    line-height:200px;
    border: 6px solid #00FF3E;
    border-radius: 200%;
    color:white;
    text-align:center;
    text-decoration:none;
    background: grey;
    box-shadow: 0 0 3px grey;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #262626;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h2{
  text-align: left;
}
