<br>
<h5>Add New Property</h5>
<div>
 <label>Enter New Property:</label>
 <input #newDescription>
 <input #newAddress>
 <input #newAmenities>
</div>
<div>
  <label>Property Priority:</label>
  <select #newPriority>
    <option [value]="1"> Low Priority </option>
    <option [value]="2"> Medium Priority </option>
    <option [value]="3"> High Priority </option>
  </select>
  <button (click)="submitForm(newDescription.value, newAddress.value, newAmenities.value, newPriority.value); newDescription.value=''; newAddress.value=''; newAmenities.value='';">Add</button>
</div>
<br>
<br>
